/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: cyan;
}

body {
  margin: 0;
  font-family: "Poppins";
  background-color: black;

}


.swhome {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 100px;
  height: 100vh;
  padding-bottom: 10rem;
  overflow: hidden;
}



.sampleWork-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #94a3b8;
  background: rgba(169, 181, 201, 0.4); /* Adjust the alpha (last) value for transparency */
  backdrop-filter: blur(10px); /* Adjust the blur value as needed */
  border-radius: 10px; /* Optional: add border-radius for rounded corners */
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.sampleWork-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.sampleWork-details p {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 0.9em;
  color: white;
  position: relative;
  left: 0;
}
.sampleWork-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.create h3,label{
  color: white;
}

.swForm{
  position: relative;
  top: 0;
  width: 300px;
  height: 700px;
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */;
  margin-top: 8rem;
}

.swForm::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.swForm::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb */
}

.swForm::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}

.workouts{
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  width: 800px;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */;
  margin-top: 8rem;
}
.workouts::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

.workouts::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb */
}

.workouts::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}

.dheader{
  background-color: black;
}

.loader-text{
  color: #B7ADA1;
  position: absolute;
  top: 2rem;
}

